@font-face {
    font-family: 'League Spartan';
    src: url('Fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'PUTG';
    src: url('Fonts/Playwrite_US_Trad_Guides/PlaywriteUSTradGuides-Regular.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 64px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color:#222;   
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    line-height: 24px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin:40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: #bcd6eb;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    
    outline: none;
    transition: 0.2s ease;
}

body{
    width: 100%;
}
.cart{
    width: 40px;
    height: 40px;
}

/*Header*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: sticky;
    top: 0;
    background: #e3e6f3;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}
.logo{
    padding: 0;
    margin: 0;
    width: 60px;
    height:30px;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
    
   
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
    
    text-underline-offset: 6px;
}

/*hero*/

#hero{
    background-color: #c0791c;
    background-image:url(Assets/pics/hero-2.png);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-color: #b88152;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease;
    color: #e3f309;
    font-family: 'League Spartan','PUTG', sans-serif;
    border: 0;
    padding: 14px 40px 14px 40px;
    font-size: 25px ;
    border-radius: 30px ;
    cursor: pointer;
}
#feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: #f0f6f4;
}

#feature .fe-box img{
    height: 125px;
    margin-bottom: 5px;
    width: 100%;

}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin:15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 7px 7px 6px 7px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
    font-size: 15px;
}
/*changing color of all h6 by order*/
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e7dd;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #f88de6;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #bcd6eb;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #e4cae9;
}

/*product*/

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.308);
    margin: 15px 0;
    transition: .2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 15px 20px 34px rgba(150, 95, 95, 0.425);
    transform: scale(1.3);
    z-index: 999;
}
#product1 .pro img{
    width: 70%;
    border-radius: 20px;
    height: 30vh;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #6a9c99;
    font-weight: 600;
    font-size: 14px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 18px;
}
#product1 .pro .des .star{
    color: #ff523b;
    margin: 7px 0;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .des a{
 
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f7cb54;
    font-weight: 500;
    color: #088178;
    padding: 3px 0;
    text-align: center;
    margin-top: 10px;
    padding: 6px 4px;
    border: 1px solid #088178;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .pro .des a:hover{
    background-color: #088178;
    color: #f7cb54;
    transition: .2s ease
}

/*banner*/
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(Assets/pics/banner.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;

    }
#banner h4{
    font-weight: 700;
    color: #222;
    font-size: 27px;
}
#banner h2{
    padding: 15px 0;
    color: #f11313;
}
#banner h2 span{
    padding: 15px 0;
    color: #2913f1;
}
#banner button:hover{
    background-color: #088178;
    color: #e3f309;
    transition: 0.3s ease;
}

/*sm-banner*/
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Assets/pics/sm-banner-1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 50vh;
    padding-left: 9px;
    border-radius: 12px;
    border: none;
}
#sm-banner .banner-box2{
    background-image: url(Assets/pics/sm-banner-2.png) ;
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    
}
#sm-banner h2{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
    color: #e3f309;
}
/*banner3*/
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(Assets/pics/ban-3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
    margin: 10px 10px;
    width: auto;
    
}
#banner3 h2{
    color: #40ff06;
    font-size: 38px;
    font-weight: 900;
}
#banner3 h3{
    color: #f4ffc3;
    font-size: 14px;
    font-weight: 800;
    padding: 15px 0;
}

/*form*/
#newsletter{
    background-color: #f0f6f4;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 40px 80px;
    flex-wrap: wrap;
    align-items: center;
}

#newsletter:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transition: 0.3s ease;
}

#newsletter .form{
    display: flex;
    width: 30%;
}

#newsletter span{
    color: red;
    font-size: 22px;
    font-weight: 500;
}
#newsletter input{
    width: auto;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}

#newsletter button:hover{
    background-color: #b88152;
    transition: 0.3s ease;
}


/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    background-color: #dad8d8;
    color: #fff;
    padding: 40px 80px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .logo{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

footer .col h4{
    font-size: 18px;
    color: #222;
    padding-bottom: 15px;
}
footer .col p{
    font-size: 15px;
    margin: 0 0 10px 0;
    color: #465b52;
}

footer .col a{
    text-decoration: none;
    color: #465b52;
    margin: 8px 10px;
    font-size: 20px;
    transition: 0.3s ease;
}
footer .col a:hover{
    color: #0905ff;
    box-shadow: 1px 45px 20px rgb(255, 38, 0);
    cursor:pointer;
}

footer .col .row img{
    border: 1px solid #ccc;
    width:150px;

}

/*copyright*/
.copyright{
    text-align: center;
    padding: 20px 0;
    background-color: #bcc0bd;
    color: #ffffff;
    font-size: 14px;
}